body {
	background-color: green;
	text-align: center;
	color: goldenrod;
}

div {
	overflow: hidden;
}

h4 {
	font-family: 'Courier', sans-serif;
	font-weight: normal;
	font-size: 14px;
	text-align: left;
}

.italic {
	font-style: italic;
}

.container {
	max-width: 500px;
	margin: 0 auto;
	padding: 60px;
}

#front-cover {
	max-width: 500px;
	padding-bottom: 5px;
}

.cover:hover {
	cursor: pointer;
}

.cover:active {
	transform: translate(2px, 2px);
}

.songs {
	text-align: left;
	margin: 0 auto;
	padding-bottom: 30px;
	max-width: 454px; 
}

audio {
	padding-bottom: 15px;
}

#back-cover {
	max-width: 500px;
}

#enjoy {
	margin: 0 auto;
	margin-top: 40px;
	font-weight: bold;
	max-width: 500px;
	bottom: 50px;
}

#instructions {
	color: black;
	font-family: 'Courier', sans-serif;
	font-size: 12px;
	line-height: 2rem;
}

.lower {
	height: 0;
}

#merry {
	font-weight: bold;
	margin-top: 40px;
}

.about:hover {
	cursor: pointer;
}

.about:active {
	transform: translate(2px, 2px);
  text-shadow: 2px 2px 2px red;
}

#elsa {
	margin-top: 10px;
	margin-bottom: 50px;
	font-size: 12px;
	font-weight: normal;
	font-family: 'Courier', sans-serif;
}

a {
	text-decoration: none;
	color: goldenrod;
}

#elsa-link:hover {
	text-decoration: underline;
}